<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/header', { heading: "About Me" }) %>

    <div class="student-info">
        <p><strong>Name:</strong> <%= student.name %></p>
        <p><strong>Age:</strong> <%= student.age %></p>
        <p><strong>Description:</strong> <%= student.desc %></p>
        <p><strong>Major:</strong> <%= student.major %></p>

        <p><strong>Hobbies:</strong></p>
        <ul>
            <% student.hobbies.forEach(hobby => { %>
                <li><%= hobby %></li>
            <% }) %>
        </ul>
        <img src="/images/Spencer-Headshot.jpg" alt="Spencer Headshot">
    </div>

    <%- include('partials/footer') %>
</body>
</html>